@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
  --brand-pink: #0542BD;
  --brand-blue: #0088b3;
  --brand-gradient: linear-gradient(90deg, #0542BD 0%, #0088b3 100%);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}
